.logo{
    height: 120px;
    width: 120px;
}
.icon{
    width: 20px;
    height: 20px;
    color: whitesmoke;
}
.navbg{
    background-image: linear-gradient(
 
    #ccdadc,
    #8b26a4 80%,
    #5f5976 20%
  );
}