.bg{
background-color: rgb(173, 115, 227);
display: flex;
justify-content: space-between;
}
.link{
    margin-right: 25px;
    width: auto;
    height: 20px;
     border: 1px;
     border-color: black;
     border-radius: 5px;
}
.link:hover{
    color: brown;
    font-weight: bold;
}