.wimage{
    position:fixed;
    bottom: 40px;
    right: 20px;
    
    width: 60px;
    height: 60px;
   
  }
  .text{
    background-image:radial-gradient(whitesmoke,pink);
    color: brown;
    font-size:medium;
    font-weight:bold;
    width: auto;
    height: 29px;
}
