.wimage{
    position:fixed;
    bottom: 40px;
    right: 20px;
    
    width: 60px;
    height: 60px;
   
  }
  .text{
    background-image:radial-gradient(whitesmoke,pink);
    color: brown;
    font-size:medium;
    font-weight:bold;
    width: auto;
    height: 29px;
}
.card-img-top{
 margin-left: '120px';
  
}
.card-img-top:hover{
  transform: scale(1.15);
  transition: width 2s, height 4s;
}
.card-title{
  margin-left: '20px';
}
.card-block{
  justify-content: center;
  
}